doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    style(type="text/css"): :stylus
      html,body { width: 100%; height: 100% }
  body
    #root.d-flex.align-items-center.justify-content-center.w-100.h-100
      svg.d-block.rounded.shadow-sm.bg-light.border(
      xmlns="http://www.w3.org/2000/svg",width="500",height="500",viewBox="0 0 500 500")
        path(ld="path1", fill="#f00")
        path(ld="path2", fill="#00f")

    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    +script("/assets/lib/ldcover/main/index.min.js")
    +script("/assets/lib/ldloader/main/index.min.js")
    +script("/assets/lib/cubify/dev/index.min.js")
    script(type="module"): include:lsc index.ls
